/* Eric Meyer's Reset CSS v2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	color: #4C4C4C;
	font-family: 'Cuprum', cursive;
	font-size: 16px;
	
	background: url(../img/bg1.png) 0 0 repeat;
}
h1, h2, h3{
	text-shadow: 0 2px 2px #000;
	text-align: center;
	color: #12d5e1;
}
h1{
	font: 2.5em/2.5em 'Lobster';
	margin: 25px 0;
}
h2{
	font-size: 2em;
	margin: 10px 0;
}
h3{
	text-align: left;
	font-size: 1.5em;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.fixed-box-r2{
	width: 150px;
	height: 206px;
	position: fixed;
	left: 1%;
	bottom: 0;
	background: url(../img/r2.png) 0 0 no-repeat;
	background-size: 100% auto;
}
a, a:link,
a:active,
a:visited {
	outline: none;
	text-decoration:none;
}
img { 
 	display:block;
}

/*
* Header
*/
header[role="always-top"]{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 6;
	
	-webkit-transition:  all 0.6s ease-in-out;
    -moz-transition:  all 0.6s ease-in-out;
    -o-transition:  all 0.6s ease-in-out;
    -ms-transition:  all 0.6s ease-in-out;
    transition:  all 0.6s ease-in-out;
}
header[role="always-top"].always-top{
	height: 72px;
	position: fixed;
	top: 0;
	opacity: 0.8;
	filter: alpha(opacity="80");
	margin: 5px auto;
	margin: 5px auto;
}
.logo{
	margin: 0 15px;
	position: relative;
	top: -10px;
	z-index: 10;
}
.logo-link{
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
	border-radius: 50%;
	border: 3px solid #CCC;
  
	-webkit-transition:  all 0.6s ease-in-out;
	-moz-transition:  all 0.6s ease-in-out;
	-o-transition:  all 0.6s ease-in-out;
	-ms-transition:  all 0.6s ease-in-out;
	transition:  all 0.6s ease-in-out;
	position: relative;
}
.logo-link:hover {
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	transform:rotate(720deg);
}
.logo-link-image{
	width: 60px;
	height: auto;
	border-radius: 30px;
	display: block;
	position: absolute;
}
.logo-link-image-active{
	z-index: 1;
}

/*
* Navigation
*/
.main-navigation{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
}
.main-navigation-menu-list{
	height: 40px;
 
	background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');

	border-radius: 6px;
	box-shadow: 0 0 10px 1px #aaa;
}
.main-navigation-menu-list-item{
    height: 40px;
    list-style: none;
	float: left;
    display: block;
}
.main-navigation-menu-list-item-link{
    display: block;
    padding: 0 15px;
    margin: 6px;
    line-height: 28px;
    text-decoration: none;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.main-navigation-menu-list-item:hover > .main-navigation-menu-list-item-link{
	color: #8fde62;
}

/*
* Content
*/
.content-wrap{
	width: 70%;
	margin: 25px auto;
	position: relative;
	z-index: 5;
}
.flying-block{
	width: 56%;
	
	height: auto;
	color: #371f38;
	border-radius: 20px;
	border: 2px solid #9a8f79;
	margin: 30px 0;
	padding: 2%;
	position: relative;
	overflow: hidden;
	background: url(../img/bg1.png) 0 0 repeat;
	opacity: .8;
	filter: alpha(opacity="80");	
	box-shadow: 0 0 20px 2px #111;

	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
#about-me dt{
	font-weight: bold;
	margin: 10px 0 5px;
}
#about-me dd{
	padding-left: 50px;
}
#work-experience, #contacts{
	float: right;
}

#portfolio{

}

.strange{
	text-transform: uppercase;
}

/*
* Accordeon
*/
.hidden-content{
	display: none;
	padding: 10px;
	color: #fff;
}
.accordeon-title{
	cursor: pointer;
}
.accordeon-item{
	margin: 5px;
	border-radius: 10px;
	background-color: #6C6E74;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6C6E74), to(#4B4D51));
	background-image: -webkit-linear-gradient(top, #6C6E74, #4B4D51);
	background-image: -moz-linear-gradient(top, #6C6E74, #4B4D51);
	background-image: -ms-linear-gradient(top, #6C6E74, #4B4D51);
	background-image: -o-linear-gradient(top, #6C6E74, #4B4D51);
	background-image: linear-gradient(top, #6C6E74, #4B4D51);
}
.accordeon-item:hover, .accordeon-item.show{
	background-color: #534952;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#534952), to(#736876));
	background-image: -webkit-linear-gradient(top, #534952, #736876);
	background-image: -moz-linear-gradient(top, #534952, #736876);
	background-image: -ms-linear-gradient(top, #534952, #736876);
	background-image: -o-linear-gradient(top, #534952, #736876);
	background-image: linear-gradient(top, #534952, #736876);
}
.accordeon-item a{
	color: #cc9;
	text-shadow: 1px 1px 1px #000;
	outline: none;
	text-decoration: underline;
}
.accordeon-item a:hover{
	text-decoration: none;
}


/*
* Portfolio
*/
.portfolio-thumbs{
	font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}
.portfolio-thumbs-item{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin: 2% 0 0 4%;
	border: 1px solid #f19908;
	box-shadow: 0 0 5px #f19908;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.portfolio-thumbs-item:nth-child(3n+1){
	margin-left: 0;
}
.portfolio-thumbs-item:hover{
	box-shadow: 0 0 15px #f19908;
}
.portfolio-thumbs-item-image{
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.portfolio-thumbs-item-site-desc-link{
	width: 100%;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	display: block;
	background: #000;
	opacity: .8;
	filter: alpha(opacity="80");
	position: absolute;
	bottom: -30px;
	border-radius: 0 0 10px 10px;
}

.popup-bg{
	background: #000;
	opacity: .8;
	filter: alpha(opacity="80");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
}
.popup-content-wrap{
	width: 60%;
	height: 80%;
	position: fixed;
	top: 10%;
	left: 20%;
	z-index: 15;
	border-radius: 15px;
	background: rgba(0,0,0,0.7);
}
.popup-content{
	width: 96%;
	height: 94%;
	margin: 2%;
	padding: 0;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.popup-image-wrap .portfolio-thumbs-item-image{
	position: absolute;
	width: auto;
	height: 100%;
	border-radius: 0;
}
.close-popup-button{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../img/close-btn.png) 0 0 no-repeat;
	cursor: pointer;
	z-index: 15;
}
.popup-buttons{
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 15;
}
.popup-button-item{
	width: 69px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.popup-button-item.prev{
	margin-right: 20px;
	background: url(../img/prev-next.png) 0 0 no-repeat;
}
.popup-button-item.next{
	background: url(../img/prev-next.png) 0 -38px no-repeat;	
}

/*
* Contacts
*/
.contact-title-also{
	color: #12D5E1;
}
.contacts-link{
	line-height: 22px;
	color: #c19908;
	display: inline-block;
	background-image: url(../img/contact-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 2px 0 2px 25px;
	margin: 5px 0;
}
.contacts-link-mobile{
	background-position: 0 -125px;
}
.contacts-link-skype{
	background-position: 0 -175px;
}
.contacts-link-yamail{
	background-position: 0 -97px;
}
.contacts-link-gmail{
	background-position: 0 -71px;
}
.contacts-link-moikrug{
	background-position: 0 -22px;
}
.contacts-link-vk{
	background-position: 0 3px;
}


/*
* Fly Box
*/
.fly-box{
	width: 100%;
	position: fixed;
	left: 0;
	top: 100px;
	z-index: 3;
}
.fly-box-bg{
	position: absolute;
	top: 0;
	right: 5%;
}


/*
* footer
*/
footer[role="content-info"]{
	margin: 40px 0 20px;
}
.socials{
	width: 140px;
	margin: 10px auto;
}
.copyright, .the-end{
	text-align: center;
	font-size: 14px;
}



/*
* Media queries
*/
@media screen and (max-width: 785px){
	.content-wrap {
		width: 90%;
		margin: 25px 0 25px 5%;
	}
	.flying-block{
		width: 96%;
	}
}
@media screen and (max-width: 605px){
	.main-navigation{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	.main-navigation-menu-list{
		height: 25px;
		overflow: hidden;
	}
	.main-navigation-menu-list-item{
		height: 30px;
		float: none;
		padding: 0;
		
		background-color: #53575e;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#7c828c), to(#53575e));
		background-image: -webkit-linear-gradient(top, #7c828c, #53575e);
		background-image: -moz-linear-gradient(top, #7c828c, #53575e);
		background-image: -ms-linear-gradient(top, #7c828c, #53575e);
		background-image: -o-linear-gradient(top, #7c828c, #53575e);
		background-image: linear-gradient(top, #7c828c, #53575e);
	}
	.logo-link{
		top: -3px;
		margin: 0 auto;
	}
	.main-navigation-menu-list-item-link{
		margin: 0;
		line-height: 25px;
	}
}
@media screen and (max-width: 480px){
	h1{
		line-height: 1;
	}
	.portfolio-thumbs-item{
		width: 45%;
		margin: 2% 0 0 2%;
	}
	.portfolio-thumbs-item:nth-child(2n+1){
		margin-left: 2%;
		margin-right: 2%;
	}
	.portfolio-thumbs-item:nth-child(3n+1){
		margin-left: 2%;
	}
}